@charset "utf-8";


body {
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0px; 
}

header {
    background-color: #bedfe9;
    padding-top: 62px;
    padding-bottom: 32px;
}

h1{
    margin: 0px;
}

.container{
    /* background-color: pink; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items :center;
}

ul {
  list-style: none;
}

.icon{
    /* background-color: skyblue; */
}

.info{
    /* background-color: tomato; */
    margin-left: 32px;
}

.icon h1{
    border-radius: 50%;
    border-width:  4px;
    border-style: solid;
    border-color: white; 
}

/* .q{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    margin-bottom: 60px;
} */

section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    margin-bottom: 60px;
}

/* その2  */
.pager .pagination {
    text-align: center;
  }
  
  .pager .pagination li {
    display: inline;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    background: #0790b9;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;
  }
  
  
  .pager .pagination li a{
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display:table;
    color: #fff;
    text-decoration: none;
  }
  
  .pager .pagination li a span{
    display:table-cell;
    vertical-align:middle;
  }
  
  .pager .pagination li a:hover,
  .pager .pagination li a.active{
    color: #000;
    background: #bedfe9;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 767px){
    .pager .pagination li{
      display: none;
    }
  
    .pager .pagination li.pre,
    .pager .pagination li.next{
      display: inline-block;
      width: 40%;
      height: 50px;
      text-align: center;
    }
  
    .pager .pagination li.pre a,
    .pager .pagination li.next a{
      width: 100%;
      text-align: center;
    }
  
    .pager .pagination li.pre span::after{
      content: "　前へ";
    }
  
    .pager .pagination li.next span::before{
      content: "次へ　";
    }
  
  }
  
.frame_set {
    border:dotted 4px #0790b9;
    padding: 20px;
    line-height: 130%;
    display: block;
  }
  
  .frame_set> h1{
    display: block;
    line-height: 130%;
    font-size: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
footer{
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    color: gray;
}

/*スクロールトップ機能*/
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
